.conteiner {
	min-height: 90vh;
	padding: 50px 0;
}

.box {
	position: relative;
	display: flex;
	max-width: 80%;
	margin: auto;
	justify-content: flex-start;
	font-family: "Droid Sans";
}

.title {
	font-family: 'Roboto';
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #000;
	padding: 20px 10px;
}


.box__list__item {
	display: flex;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100px;
	width: 120px;
	background-color: rgb(0,199,71);
	color: #000;
	border-radius: 40%;
	padding: 10px;
}

.box__list__item:hover,
.box__list__item:focus
{
	color: deeppink;
}
.box__left {
	top: auto;
}

.box__left:not(:last-child) {
	margin-right: 30px;
}

.box__right {
	display: flex;
	padding: 20px;
}


.box__header {
	display: block;
}

.box__header__title {
	display: block;
	font-size: 24px;
	padding: 20px 0;
}

.box__text {
	padding: 0px 0 0 20px;
}
.box__text__title {
	font-size: 24px;
	padding: 20px 0;
}
.box__text__description {
	font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align:justify;
	color: #212121;
    padding-bottom: 30px;
}
.box__text__list li {
	font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align:justify;
	color: #212121;
    padding-bottom: 30px;
	list-style-type:circle;
}