.conteiner {
	
	min-height: 60vh;
	padding: 50px 0;
}

.box {
	position: relative;
	display: flex;
	flex-direction: column wrap;
	max-width: 80%;
	margin: 0 auto;
	align-items: center;
	justify-content: flex-start;
	font-family: "Droid Sans";
}

.title {
	display: flex;
	font-size: 14px;
	padding-right: ;
	padding: 10px 10px;
}

.box__list {
	/* display: flex; */
	/* flex-wrap: wrap; */
	justify-content: center;
}

.box__list__item {
	display: flex;
	font-size: 12px;
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
	height: 80px;
	width: 80px;
	background-color: aqua;
	border-radius: 50%;
}
.box__left {
}

.box__left:not(:last-child) {
	margin-right: 30px;
}

.box__right {
	display: flex;
	border: 5px solid #f44336;
	padding: 20px;
}

/* .box__right:not(:last-child) {
    margin-right: 30px;
} */

.box__header {
	display: block;
	/* padding: 20px 0; */
}

.box__header__title {
	display: block;
	font-size: 24px;
	padding: 20px 0;
}
.box__header__picture {
}

.box__text {
	/* display: block; */
	padding: 0px 0 0 20px;
}
.box__text__title {
	/* display: block; */
	font-size: 24px;
	padding: 20px 0;
}
.box__text__description {
}
