.box__products {
	display: block;
	position: relative;
	max-width: 80%;
	margin: auto;
	justify-content: flex-start;
	font-family: "Droid Sans";
}

.box__title{ 
    display: flex;
    justify-content: center;

}

.product__list {
	display: flex;
	padding-top: 30px;
	justify-content: center;
}

.product__list >a:not(:last-child){
    margin-right: 60px;
}


.product__list__item {
	display: block;
	fill: rgb(28, 24, 29);
	background-color: rgb(2, 109, 39);
	border-radius: 20%;
}

.product__list__item > p {
	display: flex;
	font-family: "Droid Sans";
	font-size: 22px;
	padding: 20px 20px;
	justify-content: center;
	align-items: center;
}

.product__list__item:hover,
.product__list__item:focus {
	fill: deeppink;
	color: deeppink;
}
