.header {
	/* position: absolute; */
	display: block;
	padding: auto;
	margin: 0 auto;
	max-height: 250px;
	width: 100%;
	background-position: center;
}

.header_top {
	display: flex;
	padding: 5px 10px;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 3;
	background: url("../../../public/images/header.png") center bottom repeat-x;
}

.header_top div:not(:last-child) {
	padding-right: 30px;
}

.link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.02em;
	color: #212121;
}

.shadows {
	padding: auto;
	margin: 0 auto;
	z-index: 3;
	background: url("../../../public/images/header.png") center bottom repeat-x;
}

.heder_bottom {
	display: flex;
	max-width: 80%;
	padding: 100px 80px 10px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;

}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 35%;
}

.logo__text {
	font-family: "OPTIMistral-Graff";
	font-style: italic;
	font-weight: 700;
	font-size: 54px;
	line-height: 2.25;
	letter-spacing: 0.06em;
	color: rgb(0,199,71);
}
.logo__text-color {
	color: rgb(237,28,36);
}

.heder_nav_list {
	display: flex;
}

.heder_nav_list > li:not(:last-child) {
	margin-right: 50px;
}

.drop {
	position: relative;
}

.drop ul {
	position: absolute;
	bottom: -30%;
	min-width: 100px;
	text-align: center;
	background-color: #373c58;
	box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.25);
	margin-top: 10px;
	border-radius: 7px;
}

.drop ul li {
	padding: 0.5rem;
}

.drop ul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: rgb(212, 246, 246);
}

.drop ul li:hover {
	background: #272b3f;
	border-radius: 7px;
}

.btn_ikon {
	position: relative;
	font-family: "OPTIMistral-Graff";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2.25;
	letter-spacing: 0.06em;
	color: rgb(2, 109, 39);
}

.btn_ikon_svg {
	display: flex;
	justify-content: center;
	width: 60px;
	height: 50px;
	border-radius: 30%;
	fill: rgb(2, 109, 39);
}

.btn_ikon:hover .btn_ikon_svg,
.btn_ikon:hover {
	cursor: pointer;
	color: deeppink;
	fill: deeppink;
}
