

.box__header {
    display: block;
    /* padding: 20px 0; */
}

.box__header__title {
    display: block;
    font-size: 24px;
    padding: 20px 0;
}
.box__header__picture {

}

.box__text {
    /* display: block; */
    padding: 0px 0 0 20px;
}
.box__text__title {
    /* display: block; */
    font-size: 24px;
    padding: 20px 0;
}
.box__text__description {
	font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align:justify;
	color: #212121;
    padding-bottom: 30px;
}

.box__text__list li {
	font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align:justify;
	color: #212121;
    padding-bottom: 30px;
	list-style-type:circle;
}