.footer {
    background-color: rgb(212, 212, 212);
}
.footer-wrapper {
    display: block;
    max-width: 80%;
    padding: 30px 80px 10px;
	margin: 0 auto;
    
}
.footer-top {
    display:flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items:center;
}
.footer-top div:not(:last-child) {
    margin-right: 100px;
}

.box-text {
    min-height: 150px;
    padding-top: 20px;
}

.footer__title{
    font-family: 'Roboto';
    font-size: 16px;
}

.footer__text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.06em;
}

.footer-bootom {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #7F9799;
    justify-content: center;
    align-items: center;
}

.bootom__list {
    display: flex;
    flex-wrap: wrap;
    min-height: 20px;
    justify-content: center;
    align-items: center;
}

.bootom__list__item {
    font-family: "Roboto";
    font-size: 12px;

}

.bootom__list__item:not(:last-child) {
    margin-right: 30px;
}

.socialMedia__list {
    display: inline-flex;
    padding-top: 20px;
}
.socialMedia__list p{
    padding-bottom: 10px;
}

.socialMedia__list__item:not(:last-child)  {
    margin-right: 20px;
}

.socialMedia__text{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.06em;
    padding-bottom: 20px;
}

.social__logo__olx {
    width:40px;
	height:40px;
    border-radius: 50%;
}

.social__logo__facebook {
    fill: #2374e1;
    background-color: #fff;
    border-radius: 15%;
}