.adress__title{
    font-family: 'Roboto';
    font-size: 50px;

}

.adress__text{
    font-family: "Roboto";
    font-family: 16px;
    font-weight: 500;
    line-height: 1.50;
    padding-top: 30px;
}

.adress__text>li:not(:last-child) {
    padding-bottom: 30px;

}